{% load bootstrap4 %}


<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewjport" content="width=device-width, initial-scale=1">

    {%if title%}
    <title>{{title}}</title>
    {% else %}
    <title>Nyumba-Kumi</title>
    {%endif%}

    {% block styles %}
      {% bootstrap_css %}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/superhero/bootstrap.min.css">
    {% endblock %}
  </head>

  <body>
    {% include "navbar.html" %}
    {% block content %}  
    {%endblock%}
    
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src=""></script>
    {% bootstrap_javascript %}
{% endblock %}
  </body>

</html>